{% extends 'layout.html' %}{% load static %}
{% load bootstrap_tags %}
{% block title %}
<title>home</title>
{% endblock %}
{% block content %}

<div class="container">
<div class="row">  
     <div>
        <h1 style="text-align:center">{{food_detail.name}}</h1> 
     </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 block">
    	       <img src="{% get_media_prefix %}{{food_detail.image}}" style="width:50%" alt="foods" />
          		<p style="width:50%">{{ food_detail.description }}</p> 
                <h6>Cuisine: {{ food_detail.menu }}</h6>
                <h6>price:{{ food_detail.price }}$</h6> 
               <form method="post" action="{% url 'add_to_cart' food_detail.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn" style="width:50%">
                            <button class="btn btn-success" type="submit">Add to cart</button>
                        </span>
                    </div>
                </form>
    </div> 
   </div> 
</div>

{% endblock%}