{% extends 'layout.html' %}{% load static %}
{% load bootstrap_tags %}{%block title%}login{%endblock%} 
{% block content %}

<div class='container'>
        <p><strong>If you already have not an account, you can <a href="{% url 'register_link' %}">register</a></strong></p>
        <form method="POST" class="row">
            <div class="col-lg-10 ml-auto">
            {% csrf_token %} {{ form | as_bootstrap}}
            {{ form.as_bootstrap }}
        <button type="submit" class="btn btn-danger">Login</button>
        </div>
    </form>
   </div>
    
{% endblock %}