{% extends 'layout.html' %}  {% load bootstrap_tags %}{%block title%}login{%endblock%} 
{% block content %}
<div class='container'>
    <div class='row ml-auto '>
    {% if messages %}
    <div>
        <ul>
            {% for m in messages %}
            <li>{{m}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    
    <p><strong>If you already have an account, you can <a href="{% url 'login_link' %}">sign in</a></strong></p>
 </div>
</div>
<div class='container'>
 <form method="POST" class="row">
    <div class="col-lg-10 ml-auto">
        {% csrf_token %}{{ form | as_bootstrap}}
        {{ form.as_bootstrap }}
        <button type="submit" class="btn btn-danger">submit</button>
    
</div>
</form>
</div>

{% endblock %}